/* From Geeks for Geeks : https://www.geeksforgeeks.org/how-to-make-a-vertical-line-using-html/ */

/* container */
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1240px;
  }
}

/* board */

#player1Board {
  border-right: 5px solid black;
}

.col-md-6 {
  height: 80%;
}

.board {
  display: inline-block;
}

.board button {
  width: 45px;
  height: 45px;
  margin: 1px;
}

/* columns */

.columns {
  margin-left: 2px;
}

.columns div {
  display: inline-block;
  width: 45px;
  text-align: center;
  margin-left: 0px;
}
